<div class="row">
    <div class="col-lg-2">
        <h2>Log in</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "form-group"}) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in", class: "btn btn-primary" %>
          </div>
        <% end %>
    </div>
    <div class="col-lg-5 col-lg-push-3">
        <h2>Sign up</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="col-lg-6">
            <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>
          </div>

          <div class="col-lg-12">
            <div class="col-lg-6" style="padding-left:0">
                <div class="field">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                </div>
              </div>
              <div class="col-lg-6" style="padding-left:0;">
                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                </div>
              </div>
          </div>
          <div class="col-lg-2">
              <div class="actions" style="margin-top: 10px">
                <%= f.submit "Sign up", class: "btn btn-success" %>
              </div>
          </div>
        <% end %>
    </div>
</div>

<%= render "devise/shared/links" %>
