<!DOCTYPE html>
<html>
  <head>
    <title>Oende</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    	<%= render 'layouts/navbar' %>
	  	<p class="notice"><%= notice %></p>
	    <p class="alert"><%= alert %></p>
			<div class="row">
    		<%= yield %>
			</div>
		</div>
		<footer  style="padding-bottom: 100px;">
			<center>
				&copy; 2018 Oende. All right reserved.
			</center>
		</footer>
  </body>
</html>
